{% extends 'base.html' %}

<!-- TITLE -->
{% block title %} MAS BANK {% endblock %}

<!-- STYLE SHEETS -->
{% block style %}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/Login.css')}}">  -->
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/voice.css')}}">  -->

<link rel="stylesheet" href="{{url_for('static',filename='Bootstrap/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/fontawesome.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/style1.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.css')}}">

{% endblock %}

<!-- BODY -->

{% block content %}
    
    <div id="preloader"></div>

    <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="index.html"><h2>MAS <em>Bank</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                      </a>
                  </li> 
  
                  <li class="nav-item"><a class="nav-link" href="#Service">Service</a></li>
  
  
                  <li class="nav-item"><a class="nav-link" href="#About">About Us</a></li>
                  
                  <li class="nav-item"><a class="nav-link" href="#contactUs">Contact Us</a></li>
                  <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-01">
            <div class="text-content">
              <!-- <h4>Find your today!</h4> -->
              <h2>Welcome</h2>
            </div>
          </div>
          <div class="banner-item-02">
            <div class="text-content">
              <!-- <h4>Fugiat Aspernatur</h4> -->
              <h2>Global Inter Gold</h2>
            </div>
          </div>
          <div class="banner-item-03">
            <div class="text-content">
             <!----<h4>Saepe Omnis</h4> -->
              <h2>International exchange</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Banner Ends Here -->

      <!--section2-->
    <div class="latest-products" id="Service">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>service</h2>
              <a href="service.html"
                >view more <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>

          <!--service1-->
          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <img src="{{url_for('static',filename='assets/images/mobile-banking.png')}}"/>
              <div class="down-content">
                <h4>
                  Our modern web and mobile applications allow you to keep track
                  of your finances whereever you are in the world.
                </h4>
              </div>
            </div>
          </div>

          <!--service2-->
          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <img src="{{url_for('static',filename='assets/images/planning.png')}}"/>
              <div class="down-content">
                <h4>
                  See exactly where your money goes every month.Recieve
                  notifications when you're close to hitting your limits.
                </h4>
              </div>
            </div>
          </div>

          <!--service3-->
          <div class="col-lg-4 col-md-6">
            <div class="product-item">
              <img src="{{url_for('static',filename='assets/images/api.png')}}"/>
              <div class="down-content">
                <h4>
                  Manage your savings, investments, pension and much more from
                  one account.Tracking your money has never been easier.
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section 2 End -->

     <!--SECTION 3-->
     <div class="best-features" id="About">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>
                we started in 2022, <a href="#">careera</a> test , esse
                consequatur alias repellat in excepturi inventore ad
                <a href="#">asperiores</a> tempora ipsa. Accusantium tenetur
                voluptate labore aperiam molestiae rerum excepturi minus in
                pariatur praesentium, corporis, aliquid dicta.
              </p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
              </ul>
              <a href="about-us.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{{url_for('static',filename='assets/images/About.jpeg')}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Section 3 -->

    <!--SECTION 4-->
    <div class="services" id="contactUs">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>International exchange</h2>

              <a href="blog.html"
                >read more <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image">
                <img  width="100%" src="{{url_for('static',filename='assets/images/borsaa_01.jpg')}}"/>
              </a>

              <div class="down-content">
                <h4>
                  <a href="#"
                    >Lorem ipsum dolor sit amet, consectetur adipisicing elit
                    hic</a
                  >
                </h4>

                <p style="margin: 0">
                  John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30
                  &nbsp;&nbsp;|&nbsp;&nbsp; 114
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image">
                <img width="100%" src="{{url_for('static',filename='assets/images/sell.png')}}"/>
              </a>

              <div class="down-content">
                <h4>
                  <a href="#"
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit</a
                  >
                </h4>

                <p style="margin: 0">
                  John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30
                  &nbsp;&nbsp;|&nbsp;&nbsp; 114
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image">
                <img  width="100%"  src="{{url_for('static',filename='assets/images/borsaa_02.jpg')}}"/>
              </a>
              <div class="down-content">
                <h4>
                  <a href="#">Aperiam modi voluptatum fuga officiis cumque</a>
                </h4>

                <p style="margin: 0">
                  John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30
                  &nbsp;&nbsp;|&nbsp;&nbsp; 114
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--End Section 4 -->

    
    <!--SECTION 5-->
    <div class="happy-clients" id="">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Happy Clients</h2>

              <a href="testimonials.html"
                >read more <i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m">
                    <em
                      >"Lorem ipsum dolor sit amet, consectetur an adipisicing
                      elit. Itaque, corporis nulla at quia quaerat."</em
                    >
                  </p>
                </div>
              </div>

              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m">
                    <em
                      >"Lorem ipsum dolor sit amet, consectetur an adipisicing
                      elit. Itaque, corporis nulla at quia quaerat."</em
                    >
                  </p>
                </div>
              </div>

              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m">
                    <em
                      >"Lorem ipsum dolor sit amet, consectetur an adipisicing
                      elit. Itaque, corporis nulla at quia quaerat."</em
                    >
                  </p>
                </div>
              </div>

              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m">
                    <em
                      >"Lorem ipsum dolor sit amet, consectetur an adipisicing
                      elit. Itaque, corporis nulla at quia quaerat."</em
                    >
                  </p>
                </div>
              </div>

              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m">
                    <em
                      >"Lorem ipsum dolor sit amet, consectetur an adipisicing
                      elit. Itaque, corporis nulla at quia quaerat."</em
                    >
                  </p>
                </div>
              </div>

              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m">
                    <em
                      >"Lorem ipsum dolor sit amet, consectetur an adipisicing
                      elit. Itaque, corporis nulla at quia quaerat."</em
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Itaque corporis amet elite author nulla.
                  </p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="contact.html" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- End Section 5 -->
    
    <!--FOTOER-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>
                Copyright © 2020 Company Name <a href="index.html">MSA Bank</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>




    <!-- Scripts -->
    <script src="{{url_for('static',filename='jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='Bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/owl.js')}}"></script>
    
{% endblock %}

