{% extends 'base.html' %}

<!-- TITLE -->
{% block title %} Authenticate voice {% endblock %}

<!-- STYLE SHEETS -->
{% block style %}

<link rel="stylesheet" href="{{url_for('static',filename='css/Login.css')}}"> 
<link rel="stylesheet" href="{{url_for('static',filename='css/voice.css')}}"> 
{% endblock %}

<!-- BODY -->

{% block content %}

<div id="preloader"></div>
<div id="authenticationLoader">
    <div>
        <p>Please Wait Will Identifying You...</p>
        <img src="{{url_for('static',filename='images/loading.gif')}}" alt="" width="300px" height="300px">
    </div>
</div>

<section class="BDFSection" id="popUpSection">
    <div class="BDFSectionCON1 BDFSectionCON1Edit">
        <div class="S1Cn1D1">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {%for msg in messages %}
                        {{ msg }}
                    {% endfor %}
                {% endif %}
            {%endwith%}
            <div>
                <img src="{{url_for('static',filename='images/voice.jpg')}}" alt="Avatar" width="60%" height="60%"><br><br><br><br>
                <span class="S1Cn1D1spn1">Voice Recognition</span><br>
            </div>
        </div>
        <div class="S1Cn1D2" id="S1Cn1D2ID">
            <div class="S1Cn1D2ControlDiv">
                <div>
                    <h1>Authentication</h1>
                </div>
                <div class="voiceAndBtnDiv">
                    <div style="width: 100%; height:200px;">
                        <p>
                            <span class="saySpan">Say...</span>  " Life is full of challenges and obstacles that can seem hard. " 
                        </p>
                        <div class="audioControlBtns">
                            <button class="controlButtons" id="record">Record</button>
                            <img class="recGif" src="{{url_for('static',filename='images/sound.gif')}}" alt="Avatar" width="50px" height="50px" style="margin: 0px 15px 0px 15px;">
                            <button class="controlButtons" id="stop" disabled>Stop</button>
                        </div>
                        <audio id="AudioPlayer" controls="True" src=""></audio>
                    </div>
                    <button id="facebtn" class="bn632-hover bn25">Authenticate</button>
                </div>
            </div>
    </div>
</div>
</section>

<script src="{{url_for('static',filename='js/voice.js')}}"></script>

{% endblock %}

<!-- END BODY -->


